@charset "UTF-8";

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;color: black;}
img{border: none;vertical-align: top;}
body{color: #383838;font-family: 'pretendard';}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendardvarialbe.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}
header{
    background-color: white;
}

header .header-wrap{
    width: calc(100% - 200px);
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

header .logo{
    line-height: 0;
}

header nav .gnb{
    display: flex;
    /* gap: 20px; */
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

header nav .gnb>li{
    position: relative;
}

header nav .gnb>li>a{
    display: block;
    text-align: center;
    width: 150px;
}

header nav .gnb>li>ul{
    position: absolute;
    top:62px;
    left: 0;
    z-index: 10;
    display: none;
}

/* header nav .gnb>li>ul{
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top:40px;
    left: 0;
    z-index: 10;
}

header nav .gnb>li:hover>ul{
    opacity: 1;
} */

header nav .gnb>li>ul>li>a{
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #383838;
    width: 150px;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
}

header nav .gnb>li>ul>li>a:hover{
    font-weight: 600;
    color: #9b6857;
}

header nav .gnb a.madebyus{
    font-weight: 600;
    color: #9b6857;
    text-decoration: underline;
}

header .icons{
    display: flex;
    gap: 20px;
}

header .icons img{
    width: 20px;
    height: 20px;
}



/* quickmenu */
header .quickmenu{
    font-family: 'Pretendard';
    background-color: #ffffffb0;
    box-shadow: 3px 3px 3px #bba5a568;
    width: 90px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    right: 60px; bottom: 50px;
    z-index: 30;
}
header .quickmenu>li{
    text-align: center;
    padding: 10px 0; box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s;
}
header .quickmenu>li:first-child i{
    animation: upup 0.3s ease-in-out infinite alternate;
}
header .quickmenu>li .kaka-wrap{
    position: relative;
    height: 20px;
    margin-bottom: 5px;
}
header .quickmenu>li .kaka1{
    animation: bigbig 0.3s ease-in-out infinite alternate;
    position: absolute;
    left: 15px; bottom: -15px;
}
header .quickmenu>li .kaka2{
    position: absolute;
    left: 15px; bottom: -15px;
    opacity: 0;
}

/* quickmenu hover */
header .quickmenu>li:hover{
    transform: scale(1.1);
}
header .quickmenu>li:hover i{
    color: #f7d4d4;
}
header .quickmenu>li:hover .kaka1{opacity: 0;}
header .quickmenu>li:hover .kaka2{opacity: 1;}

@keyframes upup{
    0%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(20%);
    }
}
@keyframes bigbig{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

/* 자켓 코트 탭메뉴------------------------------------- */
section .hero-box {
    /* display: flex;
    justify-content: center; */
    width: 200px;
    margin-top: 10px;
    /* margin-left: -1200px; */
    margin-left: 95px;
    margin-bottom: 20px;
}

section .tabs {
    display: flex;
    gap: 5px;
    padding: 4px;
    background: #f5f5f5;
    border-radius: 999px;
}

section .tabs li {
    list-style: none;
    padding: 8px 18px;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
    color: #555;
    background: transparent;
    transition: all 0.2s ease;
    width: 80px;
    text-align: center;
}

/* section .tabs .tabs-btn{
    background-color: #e0c7c7;
    color: #000;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
} */

section .tabs li.on{
    background-color: #e0c7c7;
    color: #000;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


section .tabs li:hover {
    color: #000;
    background-color: #e0c7c7;
}

/* 섹션 1-1----------------------------------------------------------------------------------------- */
section .img-group>div{
    display: none;
}
section .img-group>div:nth-child(1){
    display: block;
}

section .imgbox01{
    position: relative;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: #fef7f7;
    overflow: hidden;
    /* display: block; */
}

/* 세로 텍스트 */
section .hero-collage{
    position: absolute;
    /* transform: rotate(270deg); */
    font-size: 16px;
    font-weight: 600;
    color: #111;
    width: 100%;
    height: 100%;
    /* left: 420px;
    top: 180px; */
    /* border: 1px solid red; */
}
section .hero-collage .tag-verticalleft{
    position: absolute;
    transform: rotate(90deg);
    /* transform: translate(150px,150px);  */
    left: 520px;
    top: 620px;
}
section .hero-collage .tag-verticalright{
    position: absolute;
    transform: rotate(270deg);
    right: 390px;
    top: 140px;
}

section .image{
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

section .image li{
    position: absolute;
}
section .image li img{
    width: 100%;
    display: block;
    }

/* 왼쪽 상품 사진만 */
section .image li:nth-child(1){
    left: 160px;
    top: 600px;
    width: 250px;
    z-index: 10;
}

/* 왼쪽 상단 모델 사진 */
section .image li:nth-child(2){
    left: 120px;
    top: 40px;
    width: 250px;
}

/* 왼쪽 중간 모델 사진*/
section .image li:nth-child(3){
    left: 320px;
    bottom: 200px;
    width: 250px;
}

/* 중앙 전신 */
section .image li:nth-child(4){
    left: 820px;
    top: 120px;
    width: 360px;
}

/* 오른쪽 전신 */
section .image li:nth-child(5){
    right: 120px;
    top: 40px;
    width: 320px;
    }

/* 타이틀 + 설명 */
section .hero-title{
    position: absolute;
    right: 320px;
    top: 230px;
    width: 330px;
    color: #222;
}

section .hero-title h2{
    margin: 280px 125px 130px;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    z-index: 10;
    text-shadow: 4px 4px 6px rgb(255, 255, 255);
}

section .hero-title img{
    width: 150px;
    display: block;
    margin: 125px 300px 0px;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 5px rgba(245, 103, 103, 0.738)) ;
}

section .hero-desc{
    width: 600px;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin: 0 -100px 0 0;
    position: relative;
    left: -450px;
    top: -70px;
    text-align: right;
    /* border: 1px solid red; */
}

/* 하단 상품 정보 */
section .hero-info{
    position: absolute;
    left: 420px;
    bottom: 65px;
    display: flex;
    gap: 8px;
    color: #222;
    flex-direction: column;
    text-align: center;
}

section .hero-info .label{
    font-size: 24px;
    font-weight: 700;
}

section .hero-info .name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}
/* 섹션 1-2--------------------------------------------------------------------- */

section .imgbox1-1{
    position: relative;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: #fef7f7;
    overflow: hidden;
    /* margin-top: 20px; */
    /* display: none; */
}

/* 세로 텍스트 */
section .hero-collagesub{
    position: absolute;
    /* transform: rotate(270deg); */
    font-size: 16px;
    font-weight: 600;
    color: #111;
    width: 100%;
    height: 100%;
    /* left: 420px;
    top: 180px; */
    /* border: 1px solid red; */
}
section .hero-collagesub .tag-verticalleft12{
    position: absolute;
    transform: rotate(90deg);
    /* transform: translate(150px,150px);  */
    left: 570px;
    top: 620px;
}
section .hero-collagesub .tag-verticalright12{
    position: absolute;
    transform: rotate(270deg);
    right: 410px;
    top: 180px;
}

section .image12{
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue; */
}

section .image12 li{
    position: absolute;
}
section .image12 li img{
    width: 100%;
    display: block;
    }

/* 왼쪽 상품 사진만 */
section .image12 li:nth-child(1){
    left: 160px;
    top: 600px;
    width: 350px;
    z-index: 10;
}

/* 왼쪽 상단 모델 사진 */
section .image12 li:nth-child(2){
    left: 120px;
    top: 40px;
    width: 280px;
}

/* 왼쪽 중간 모델 사진*/
section .image12 li:nth-child(3){
    left: 340px;
    bottom: 200px;
    width: 280px;
}

/* 중앙 전신 */
section .image12 li:nth-child(4){
    left: 850px;
    top: 150px;
    width: 300px;
}

/* 오른쪽 전신 */
section .image12 li:nth-child(5){
    right: 120px;
    top: 120px;
    width: 340px;
    }

/* 타이틀 + 설명 */
section .hero-title12{
    position: absolute;
    right: 320px;
    top: 150px;
    width: 330px;
    color: #222;
}

section .hero-title12 h1{
    margin: 306px 125px 130px;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    z-index: 10;
    text-shadow: 4px 4px 6px rgb(255, 255, 255);
}

section .hero-title12 img{
    width: 300px;
    display: block;
    margin: -130px 220px 0px;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 5px rgba(245, 103, 103, 0.738)) ;
}

section .hero-descsub{
    width: 600px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    margin: -160px -100px 0 0;
    position: relative;
    left: -450px;
    top: -30px;
    text-align: right;
    /* border: 1px solid red; */
}

/* 하단 상품 정보 */
section .hero-infosub{
    position: absolute;
    left: 420px;
    bottom: 65px;
    display: flex;
    gap: 8px;
    color: #222;
    flex-direction: column;
    text-align: center;
}

section .hero-infosub .label{
    font-size: 24px;
    font-weight: 700;
}

section .hero-infosub .name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}
/* 섹션 2----------------------------------------------------------------------- */
section .tit {
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    margin-top: 70px;
}
section .tit h4{
    font-size: 24px;
    color:111;
    font-weight: 400;
}
section .tit h1 {
    position: relative;
    display: inline-block;   
    padding-right: 5px;     
    margin-bottom: 40px;
    font-size: 43px;
}

section .tit h1 img {
    position: absolute;
    top: -32px;
    left: 153px;   
    /* right: 0;     */
}


section .tit .jacket-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}

section .tit .jacket-menu li {
    width: 350px;
    text-align: center;
    transition: all 0.3s;
    /* border: 1px solid red; */
}
section .tit .jacket-menu li:hover{
    transform: translateY(-20px);
}
section .tit .jacket-menu li:hover img{
    
    border-radius: 0 50px 0 50px;
}

section .tit .jacket-menu img {
    width: 100%;
    display: block;
    transition: all 0.3s;
}
section .tit .jacket-menu .menu-name{
    margin-top: 20px;
}
section .tit .jacket-menu p:nth-child(2){
    font-weight: 800;
}

/* 더보기----------------------------------------- */
.more-wrap{
    text-align: right;
    margin-top: -50px;
    margin-left: -130px;
}

.more{
    font-size: 24px;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.more i{
    transition: all 0.5s;
}

.more:hover i{
    transform: rotate(180deg);
}


/* ---------------------------------------------------------------------------------------- */
section .pick {
    width:100%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    margin-top: 70px;
}

section .pick h2{
    position: relative;
    display: inline-block;   
    padding-right: 5px;     
    margin-bottom: 20px;
    font-size: 40px;
}

section .pick h2 img {
    position: absolute;
    top: -35px;
    left: 227px;   
}

/* ------------------------------------------------------------------- */
section .imagebox02{
    position: relative;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
    isolation: isolate;
}

section .imagebox02 .imgbox02-base{
    position: absolute;
    inset: 0;
    background-color: #fef7f7;
    z-index: 1;
}

section .imagebox02 .hero-coll{
    position: absolute;
    inset: 0;
    z-index: 4;
    pointer-events: none;
}

section .imagebox02 .tag-verticalleft-01{
    position: absolute;
    transform: rotate(90deg);
    left: 420px;
    top: 140px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

section .imagebox02 .tag-verticalright-02{
    position: absolute;
    transform: rotate(270deg);
    right: 530px;
    top: 615px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

section .imagebox02 .image-img{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
}

section .imagebox02 .image-img li{
    position: absolute;
}

section .imagebox02 .image-img li img{
    width: 100%;
    display: block;
}

section .imagebox02 .image-img li:nth-child(1){
    left: 120px;
    top: 80px;
    width: 350px;
    z-index: 3;
}

section .imagebox02 .image-img li:nth-child(2){
    right: 120px;
    top: 50px;
    width: 250px;
}

section .imagebox02 .image-img li:nth-child(3){
    right: 320px;
    bottom: 200px;
    width: 250px;
}

section .imagebox02 .image-img li:nth-child(4){
    left: 800px;
    top: 150px;
    width: 320px;
}

section .imagebox02 .image-img li:nth-child(5){
    right: 160px;
    top: 550px;
    width: 210px;
}

section .imagebox02 .hero-titleunder{
    position: absolute;
    right: 320px;
    top: 230px;
    width: 330px;
    color: #222;
    z-index: 5;
}

section .imagebox02 .hero-titleunder h2{
    margin: 320px -820px 130px ;
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    text-shadow: 4px 4px 6px #fff;
}

section .imagebox02 .hero-titleunder a img{
    width: 250px;
    display: block;
    margin: -50px -1050px 0;
    border-radius: 2px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.738)) ;
}

section .imagebox02 .hero-desc{
    width: 600px;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.4;
    color: #333;
    position: relative;
    left: -680px;
    top: -110px;
    text-align: left;
}

section .imagebox02 .hero-info01{
    position: absolute;
    left: 1330px;
    bottom: 65px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    color: #222;
    z-index: 5;
}

section .imagebox02 .hero-info01 .label{
    font-size: 24px;
    font-weight: 700;
}

section .imagebox02 .hero-info01 .name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
}

/* 푸터 */
footer{
    background-color: white;
    padding: 50px 0;
}

footer .logo{
    width: 102px;
    margin: 0 auto;
    line-height: 0;
    margin-bottom: 40px;
}

footer .info{
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 20px;
}

footer .info li{
    padding: 3px 0px;
}

footer .info li::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
}

footer .info li:nth-child(4)::after,
footer .info li:nth-child(7)::after{
    display: none;
}

footer .foot-menu{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 5px;
}

footer .foot-menu li::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-right: 2px solid black;
}

footer .foot-menu li:last-child::after{
    display: none;
}

footer .copyright{
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

footer .sns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .sns img{
    width: 20px;
    height: 20px;
}